<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ehcache-spring="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<context:component-scan
		base-package="ua.edu.constantine.relations"/>
	<tx:annotation-driven/>
	<ehcache-spring:annotation-driven
		cache-manager="cacheManager"/>
	
	<bean id="cacheManager"
		  class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		  <property name="configLocation" value="ehcache.xml"></property>
	</bean>
	
	<bean id="dataSource"
	      class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/relations"/>
		<property name="username" value="relations"/>
		<property name="password" value="relations"/>
		<property name="initialSize" value="3"/>
		<property name="maxTotal" value="11"/>
	</bean>
	
	<bean id="emf"
		  class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="persistence.xml"/>
		<property name="dataSource" ref="dataSource"/>
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
	</bean>
	
	<bean id="jpaVendorAdapter"
	      class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="MYSQL"/>
		<property name="showSql" value="true"/>
		<property name="generateDdl" value="true"/>
		<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
	</bean>
	
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
	<bean id="transactionManager"
	      class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
</beans>
